/* reset do css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  font-size: 12px;
  color: #000;
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.sobre {
  min-height: 100vh;
  padding: 3em;
  
}

.sobre a {
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 5px;
  border-radius: 3px;
}

.sobre a:hover{
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-text-fill-color: #fff
}

.sobre p{
  margin-bottom: 2em;
  text-indent: 2em;
  text-align: justify;
}
.sobre .avatar{
  float: left;
  text-align: center;
}
.sobre .avatar img{
  border-radius: 20px;
  width: 50%;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
}
.menu a {
  display: block;
  padding: 10px 20px;
  transition: color 100ms;
}
.menu a:active,
.menu a:hover {
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.menu {
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 0 5px #333;
}

.menu li{
  list-style: none;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.logo {
  transform: scale(0);
  opacity: 0;
  animation: 1s animalogo ease-out both;
}
@keyframes animalogo{
  100%{
    opacity: 1;
    transform: scale(1);
  }
  
}
.site-subtitle,
.site-title {
  color:white;
  text-align: center;
}

.site-subtitle {
  color:white;
}
.portfolio-subtitle {
  display: block;
  padding: 3em;
  text-align: center;
}
.site-title {
  font-size: 2em;
}

a,a:active, a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

.img-portfolio{
  width: 80px;
}
.portfolio{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
  justify-content: center;
}
.itens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3em;
  align-items: baseline;
  flex-wrap: wrap;
}

figcaption {
  text-align: center;
}

.itens figure {
  margin-top: 2em;
  filter: opacity(50%) grayscale(100%);
  transition: filter 500ms;
  text-align: center;
}
.itens figure:active,
.itens figure:hover {
  filter: opacity(100%) grayscale(0);
}
.itens a{
  padding: 0 20px;
}
.separador {
  min-height: 100vh;
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 2em;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}
.separador h2,
.separador h3 {
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.separador h3 {
  margin-top: 1.5em;
}
.img-contato{
  width: 80px;
  transition: transform 1s;
  
}
.img-contato:active,
.img-contato:hover{
  transform: rotate(-15deg);
  
}
.fig-contato {
  text-align: center;
}
@media (min-width: 400px) {
  body{
    font-size: 14px;
  }
  .img-contato{
    width: 140px;
  }
  .sobre .avatar img{
    width: 50%;
  }
  
}

@media (min-width: 600px) {
  body{
    font-size: 18px;
  }
  .img-contato{
    width: 200px;
  }
}

@media(min-width: 800px){
  .sobre .avatar{
    float: left;
    margin-right: 2em;
  }
  .sobre .avatar img{
    width: 100%;
  }
}

@media (min-width: 1200px){
  .sobre{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}