/* reset do css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: auto 500vh;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  font-size: 12px;
}
@media (min-width: 400px) {
  body{
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body{
    font-size: 18px;
  }
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f2709c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
nav {
  position: fixed;
  top: 0;
  width: 100vw;
}
.menu a {
  display: block;
  padding: 10px 20px;
}
.menu {
  background-color: #fff;
}

.menu li{
  list-style: none;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.site-subtitle,
.site-title {
  color:white;
  text-align: center;
}

.site-subtitle {
  color:white;
}
.portfolio-subtitle {
display: block;
padding: 3em;
text-align: center;
}
.site-title {
  font-size: 2em;
}

a,a:active, a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color: black;
}

.img-portfolio{
  width: 180px;
}
.portfolio{
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.itens {
display: flex;
flex-direction: row;
justify-content: space-around;
padding-bottom: 3em;
align-items: baseline;
flex-wrap: wrap;
}

figcaption {
  text-align: center;
}

.itens figure {
  margin-top: 1em;
}
